body {
  margin: 0;
  padding: 0;
  background-color: #DBE2EF; /* Light background for contrast */
}

/* Navigation bar styles */
.topnav {
  display: flex;
  justify-content: center;
  background-color: #333;
}

.topnav a {
  padding: 14px 20px;
  color: #f2f2f2;
  text-decoration: none;
  text-align: center;
}

.topnav a:hover, .topnav a.active {
  background-color: #3F72AF;
  color: white;
}

@media (max-width: 600px) {
  .topnav a { /* Make each link take full width on small screens */
      text-align: center; /* Align text to the left */
  }
}
